{{- /* 
 
  Required parameters:
    Page: The page context.
    Code: The code to syntax highlight.
    Language: The language of the code to syntax highlight.
    
  Optional parameters:
    LineNumbers: Whether to include line numbers.
    PreserveWhitespace: Whether to preserve the whitespace.
    KeepMarkup: Whether to preserve <mark> tags.
    SoftWrap: Whether to soft wrap code.
  
  */ -}}

{{- /* Ensure there required parameters are present. */ -}}
{{- if (and .Page (and .Code .Language)) -}}
  
  {{- /* Resolve the plugin parameters. */ -}}
  {{- if not (.Page.Scratch.Get "plugin-prism.Parameters") -}}
    {{- partial "plugin-prism/load-parameters.html" .Page -}}
  {{- end -}}
  {{- $Parameters := .Page.Scratch.Get "plugin-prism.Parameters" -}}

  {{- /* Generate the list of class names to apply. */ -}}
  {{- $classes := slice "code-block" (printf "language-%s" .Language) -}}
  
  {{- /* Add line numbers iff provided a truthy parameter
         or no parameter was provided and the default plugin
         parameter value is truthy  */ -}}
  {{- if (or 
            .LineNumbers 
            (and
                $Parameters.Config.LineNumbers
                (not (isset . "LineNumbers")) 
              )
           ) -}}
    {{- $classes = $classes | append "line-numbers" -}}
  {{- end -}}

  {{- /* Preserve whitespace iff provided a truthy parameter
         or no parameter was provided and the default plugin
         parameter value is truthy  */ -}}       
  {{- if (or 
            .PreserveWhitespace 
            (and 
              $Parameters.Config.PreserveWhitespace
              (not (isset . "PreserveWhitespace"))                 
              )
            ) -}}
    {{- $classes = $classes | append "no-whitespace-normalization" -}}
  {{- end -}}

  {{- /* Turn keep markup off iff provided a falsey parameter
         or no parameter was provided and the default plugin
         parameter value is falsey */ -}}
  {{- if (or 
            (and 
              (isset . "KeepMarkup") 
              (not .KeepMarkup)
             )
             (and 
                (not (isset . "KeepMarkup")) 
                (and 
                  (isset $Parameters.Config "KeepMarkup")
                  (not $Parameters.Config.KeepMarkup)
                 )
              )
           ) -}}
    {{- $classes = $classes | append "no-keep-markup" -}}
  {{- end }}

  {{- /* Add soft wrap class iff provided a truthy parameter
         or no parameter was provided and the default plugin
         parameter value is truthy  */ -}}
  {{- if (or 
            .SoftWrap 
            (and
                $Parameters.Config.SoftWrap
                (not (isset . "SoftWrap")) 
              )
           ) -}}
    {{- $classes = $classes | append "soft-wrap" -}}
  {{- end -}}
  
  {{- /* Stick the code inside a script tag. */ -}}
<script type="text/plain" class="{{ delimit $classes " " }}"
{{- with .DataLanguage }} data-language="{{ . }}"{{ end -}}
{{- with .Dependencies }} data-dependencies="{{ . }}"{{ end -}}
>
{{- .Code | htmlUnescape | safeHTML -}}
</script>

{{- end -}} {{- /* if (and .Page (and .Code .Language)) */ -}}