{{ if .inner }}

{{ $fence_open := .inner | findRE "^[ \n\t\r]*```" }}
{{ if $fence_open }}
{{ $fence_open = index $fence_open 0 }}

{{ $code := .inner | strings.TrimPrefix $fence_open }}

{{ $language := $code | findRE "^[-a-z0-9]+" }}
{{ if $language }}
{{ $language = index $language 0 }}

{{ $code = $code | strings.TrimPrefix $language }}

{{ $fence_close := $code | findRE "```[ \n\t\r]*$" }}
{{ if $fence_close }}
{{ $fence_close = index $fence_close 0 }}

{{ $code = $code | strings.TrimSuffix $fence_close }}

{{ $class := printf "code-block language-%s" $language }}
{{ if (and .line_numbers (eq .line_numbers "true")) }}
{{ $class = printf "%s line-numbers" $class }}
{{ else if (and (not .line_numbers) (and site.Params.prismjs_line_numbers (eq "true" site.Params.prismjs_line_numbers))) }}
{{ $class = printf "%s line-numbers" $class }}
{{ end }}

{{ if (or (and .preserve_whitespace (eq .preserve_whitespace "true")) (and site.Params.prismjs_preserve_whitespace (eq site.Params.prismjs_preserve_whitespace "true"))) }}
{{ $class = printf "%s no-whitespace-normalization" $class }}
{{ end }}

{{ if (or (and .keep_markup (eq .keep_markup "false")) (and site.Params.prismjs_keep_markup (eq site.Params.prismjs_keep_markup "false"))) }}
{{ $class = printf "%s no-keep-markup" $class }}
{{ end }}

{{ with .data_language }}
{{ $class = printf "%s %s" $class . }}
{{ end }}

{{ printf "<script type='text/plain' class='%s'>\n%s\n</script>" $class (htmlUnescape $code) | safeHTML }}

{{ end }}

{{ end }}

{{ end }}

{{ end }}