{{/* Determine the theme and resolve whether to use minified CSS and Javascript */}}
{{ $theme := site.Params.prismjs_theme | default "moondeer" }}
{{ $minify := true }}
{{ if (and (site.Params.prismjs_minify) (eq site.Params.prismjs_minify "false") )}}
{{ $minify = false }}
{{ end }}

{{/* Link the stylesheet for the theme */}}
<link rel="stylesheet" href="/assets/css/themes/prism-{{ $theme }}{{ with $minify }}.min{{ end }}.css">


{{/* Link the javascript */}}
<script src="/assets/js/prism{{ with $minify }}.min{{ end }}.js"></script>

{{/* Inject a style tag enforcing the desired font size */}}
{{ $font_size := site.Params.prismjs_font_size | default "0.5rem" }}
<style>code[class*=language-],pre[class*=language-] { font-size: {{ $font_size }} !important; }</style>