{{- /* Resolve the data file. */ -}}
{{- $theme_directory_file := site.Data.plugin_prism_defaults | default site.Data.plugin_prismjs_defaults -}}
{{- $plugin_directory_file := site.Data.plugin_prism.defaults | default site.Data.plugin_prismjs.defaults -}}
{{- $data := $theme_directory_file | default $plugin_directory_file -}}

{{- /* Create a map that shares the same parameter keys and the data files. */ -}}
{{- $params := dict -}}
{{- with site.Params -}}
{{- $params = dict "Theme" .prism_Theme "FontSize" .prism_FontSize "Minify" .prism_Minify "LineNumbers" .prism_LineNumbers "EnableToolbar" .prism_EnableToolbar "SoftWrap" .prism_SoftWrap "ShowLanguage" .prism_ShowLanguage "CopyButton" .prism_CopyButton "KeepMarkup" .prism_KeepMarkup "PreserveWhitespace" .prism_PreserveWhitespace "WhitespaceSettings" .prism_WhitespaceSettings -}}
{{- end -}}

{{- /* Determine the Prism Theme to use */ -}}
{{- $prism_theme := ($data | default $params).Theme | default "moondeer" }}

{{- /* Determine whether to serve minified scripts and stylesheets. */ -}}
{{- $minify := (($data | default $params).Minify) | default true | string }}
{{- $minify = not (and $minify (eq $minify "false")) -}}

{{- /* Determine whether there are whitespace settings to inject. */ -}}
{{- $whitespace_settings := ($data | default $params).WhitespaceSettings -}}
{{- if not (reflect.IsMap $whitespace_settings) }}{{ $whitespace_settings = transform.Unmarshal $whitespace_settings }}{{ end -}}

{{- /* Determine whether to enable the toolbar. */ -}}
{{- $enable_toolbar := ($data | default $params).EnableToolbar | default true | string -}}
{{- $enable_toolbar = not (and $enable_toolbar (eq $enable_toolbar "false")) -}}

{{- /* Determine whether to enable the show language item in the toolbar. */ -}}
{{- $show_language := ($data | default $params).ShowLanguage | default true | string -}}
{{- $show_language = not (and $show_language (eq $show_language "false")) -}}

{{- /* Determine whether to enable the copy button item in the toolbar. */ -}}
{{- $copy_button := ($data | default $params).CopyButton | default true | string -}}
{{- $copy_button = not (and $copy_button (eq $copy_button "false")) -}}

{{- /* Determine the font size to set. */ -}}
{{- $font_size := ($data | default $params).FontSize | default "0.5rem" }}

{{- /* Determine whether to soft wrap by default. */ -}}
{{- $soft_wrap := ($data | default $params).SoftWrap | default false | string -}}
{{- $soft_wrap = not (and $soft_wrap (eq $soft_wrap "false")) -}}


{{- /* Link the stylesheet for the theme */}}
<link rel="stylesheet" href="/assets/css/themes/prism-{{ $prism_theme }}{{ with $minify }}.min{{ end }}.css">

{{- /* Link the prism core Javascript */}}
<script src="/assets/js/prism{{ with $minify }}.min{{ end }}.js"></script>

{{- /* Load the plugins separately to enable parameterization */}}
{{- $prism_plugin_dir:= "/assets/js/plugins" }}

{{- /* Load the autoloader plugin for dynamic grammar loading */}}
<script src="{{ $prism_plugin_dir}}/autoloader/prism-autoloader{{ with $minify }}.min{{ end }}.js"></script>

{{- /* Link unminified grammars when specified */}}
{{- if not $minify }}<script>Prism.plugins.autoloader.use_minified = false;</script>{{ end }}

{{- /* Link the unescaped-markup plugin leveraged by the partial */}}
<script src="{{ $prism_plugin_dir}}/unescaped-markup/prism-unescaped-markup{{ with $minify }}.min{{ end }}.js"></script>
<link rel="stylesheet" href="{{ $prism_plugin_dir}}/unescaped-markup/prism-unescaped-markup{{ with $minify }}.min{{ end }}.css">

{{- /* Load the keep-markup plugin since it can be toggle via class names */}}
<script src="{{ $prism_plugin_dir}}/keep-markup/prism-keep-markup{{ with $minify }}.min{{ end }}.js"></script>

{{- /* Load the normalize-whitespace plugin since it can be toggled by class name */}}
<script src="{{ $prism_plugin_dir}}/normalize-whitespace/prism-normalize-whitespace{{ with $minify }}.min{{ end }}.js"></script>

{{- /* Determine whether whitespace normalization should be customized */}}
{{- with $whitespace_settings }}
<script>Prism.plugins.NormalizeWhitespace.setDefaults({
  {{- with .RemoteTrailing | default (index . "remove-trailing") }}'remove-trailing':{{ . }},{{ end -}}
  {{- with .RemoteIndent | default (index . "remove-indent") }}'remove-indent':{{ . }},{{ end -}}
  {{- with .LeftTrim | default (index . "left-trim") }}'left-trim':{{ . }},{{ end -}}
  {{- with .RightTrim | default (index . "right-trim") }}'right-trim':{{ . }},{{ end -}}
  {{- with .BreakLines | default (index . "break-lines") }}'break-lines':{{ . | int }},{{ end -}}
  {{- with .Indent | default (index . "Indent") }}'indent':{{ . | int }},{{ end -}}
  {{- with .RemoveInitialLineFeed | default (index . "remove-intial-line-feed") }}'remove-intial-line-feed':{{ . }},{{ end -}}
  {{- with .TabsToSpaces | default (index . "tabs-to-spaces") }}'tabs-to-spaces':{{ . | int }},{{ end -}}
  {{- with .SpaceToTabs | default (index . "spaces-to-tabs") }}'spaces-to-tabs':{{ . | int }},{{ end -}}
  });</script>
{{ end }}

{{- /* Load the highlight-keywords plugin for generating additional class names for keywords */}}
<script src="{{ $prism_plugin_dir}}/highlight-keywords/prism-highlight-keywords{{ with $minify }}.min{{ end }}.js"></script>

{{- /* Load the line-numbers plugin since it can be toggled by class name */}}
<script src="{{ $prism_plugin_dir}}/line-numbers/prism-line-numbers{{ with $minify }}.min{{ end }}.js"></script>
<link rel="stylesheet" href="{{ $prism_plugin_dir}}/line-numbers/prism-line-numbers{{ with $minify }}.min{{ end }}.css">

{{- /* Check whether the toolbar should be enabled */}}
{{- if $enable_toolbar }}

{{- /* Load the toolbar plugin before any plugin that utilizes it */}}
<script src="{{ $prism_plugin_dir}}/toolbar/prism-toolbar{{ with $minify }}.min{{ end }}.js"></script>
<link rel="stylesheet" href="{{ $prism_plugin_dir}}/toolbar/prism-toolbar{{ with $minify }}.min{{ end }}.css">

{{- /* Determine whether the show-language plugin should load */}}
{{- if $show_language }}
<script src="{{ $prism_plugin_dir}}/show-language/prism-show-language{{ with $minify }}.min{{ end }}.js"></script>
{{- end }}

{{- /* Determine whether the copy-button plugin should load */}}
{{- if $copy_button }}
<script src="{{ $prism_plugin_dir}}/copy-to-clipboard/prism-copy-to-clipboard{{ with $minify }}.min{{ end }}.js"></script>
{{- end }}

{{- end }}

{{- /* Inject a style tag enforcing the desired font size */}}
<style>code[class*=language-],pre[class*=language-]{font-size:{{ $font_size }}!important}</style>

{{- /* Inject a style tag enforcing soft wrapping preference */}}
<style>code[class*=language-],pre[class*=language-]{white-space:pre{{ with $soft_wrap }}-wrap{{ end }}}</style>
