{{/* Determine the theme and resolve whether to use minified CSS and Javascript */}}
{{ $theme := site.Params.prismjs_theme | default "moondeer" }}
{{ $script_src := "prism" }}
{{ if (and (site.Params.prismjs_minify) (eq site.Params.prismjs_minify "false") )}}
{{ $theme = printf "prism-%s.css" $theme }}
{{ $script_src = printf "%s.js" $theme }}
{{ else }}
{{ $theme = printf "prism-%s.min.css" }}
{{ $script_src = printf "%s.min.js" }}
{{ end }}

{{/* Link the stylesheet for the theme */}}
{{/*<link rel="stylesheet" href="/assets/css/themes/{{ $theme }}">*/}}
<link rel="stylesheet" href="/assets/css/themes/prism-moondeer.css">

{{/* Link the javascript */}}
{{/*<script src="/assets/js/{{ $script_src }}"></script>*/}}
<script src="/assets/js/prism-languages.js"></script>

{{/* Inject a style tag enforcing the desired font size */}}
{{ $font_size := site.Params.prismjs_font_size | default "0.5rem" }}
<style>code[class*=language-],pre[class*=language-] { font-size: {{ $font_size }} !important; }</style>