{{ if (and (.Get 0) .Inner) }}

{{ $language := .Get 0 }}

{{ $code := .Inner | markdownify | chomp }}

{{ if hasPrefix $code "<pre><code>" }}

{{ $code = strings.TrimPrefix "<pre><code>" $code | strings.TrimSuffix "</code></pre>" }}

{{ $code = htmlUnescape $code }}

{{ $code = replaceRE "<" "&lt;" $code }}
{{ $code = replaceRE "&" "&amp;" $code }}

<pre class="code-block line-numbers"><code class="language-{{ $language }}">
{{ printf "%s" $code | htmlUnescape | safeHTML }}
</code></pre>


{{ else if hasPrefix $code "<code>" }}

{{ $code = strings.TrimPrefix "<code>" $code | strings.TrimSuffix "</code>" }}

{{ $code = htmlUnescape $code }}

{{ $code = replaceRE "<" "&lt;" $code }}
{{ $code = replaceRE "&" "&amp;" $code }}

<code class="language-{{ $language }}">
{{ printf "%s" $code | htmlUnescape | safeHTML }}
</code>

{{ end }}

{{ end }}