{{- $language := false -}}

{{- if (and (and .IsNamedParams (.Get "language")) .Inner) -}}
{{- $language = .Get "language" -}}
{{- else if (and (.Get 0) .Inner) -}}
{{- $language = .Get 0 -}}
{{- end -}}

{{ if $language }}

{{- $code := .Inner | markdownify | chomp -}}

{{ $open_tags := $code | findRE "^[ \n\t\r]*<pre[^>]*><code[^>]*>" }}
  
  {{ if $open_tags }}
  
{{ $open_tags = index $open_tags 0 }}

{{ $code = $code | strings.TrimPrefix $open_tags }}

{{ $close_tags := $code | findRE "</code></pre>[ \n\t\r]*$" }}

    {{ if $close_tags }}

{{ $close_tags = index $close_tags 0 }}

{{ $code = $code | strings.TrimSuffix $close_tags }}
{{ $code = $code | htmlUnescape }}

{{ $inner := printf "```%s\n%s\n```" $language $code }}
{{- $Parameters := dict "Page" .Page "Inner" $inner -}}
      {{ if .IsNamedParams }}

        
        {{- range $key, $value := $.Params -}}        
          {{- $key = $key | humanize | title | replaceRE " " "" -}}
          {{- $Parameters = merge $Parameters (dict $key $value) -}}
        {{- end -}}
        {{ partial "plugin-prism/highlight.html" $Parameters }}
        
      {{ else }}

{{ partial "plugin-prism/highlight.html" $Parameters }}

      {{ end }}

    {{ end }}
    
  {{ else }}
    
{{ $open_tag := $code | findRE "^[ \n\t\r]*<code[^>]*>" }}

    {{ if $open_tag }}
      
{{ $open_tag = index $open_tag 0 }}

{{ $code = $code | strings.TrimPrefix $open_tag }}

{{ $close_tag := $code | findRE "</code>[ \n\t\r]*$" }}

      {{ if $close_tag }}
      
{{ $close_tag = index $close_tag 0 }}

{{ $code = $code | strings.TrimSuffix | htmlUnescape }}
{{ $code = $code | replaceRE "<" "&lt;" | replaceRE "&" "&amp;" }}

<code class="language-{{ $language }}">{{ printf "%s" $code | safeHTML }}</code>

      {{ end }}
      
    {{ end }}
    
  {{ end }}
  
{{ end }}