{{- $language := false -}}
{{- if (and (and .IsNamedParams (.Get "language")) .Inner) -}}
  {{- $language = .Get "language" -}}
{{- else if (and (.Get 0) .Inner) -}}
  {{- $language := .Get 0 -}}
{{- end -}}

{{- $code := .Inner | markdownify | chomp -}}

{{- if hasPrefix $code "<pre><code>" -}}

{{- $code = strings.TrimPrefix "<pre><code>" $code | strings.TrimSuffix "</code></pre>" -}}
{{- $code = htmlUnescape $code -}}
{{- $code = replaceRE "<" "&lt;" $code -}}
{{- $code = replaceRE "&" "&amp;" $code -}}

{{- $pre_class := "code-block" -}}
{{- if (and .IsNamedParams (.Get "line-numbers")) -}}
  {{- $pre_class = printf"%s line-numbers" $pre_class -}}
{{ else if (and site.Params.prismjs_line_numbers (eq "true" site.Params.prismjs_line_numbers)) }}
  {{- $pre_class = printf"%s line-numbers" $pre_class -}}
{{- end -}}

<pre class="{{ $pre_class }}"><code class="language-{{ $language }}">
{{ printf "%s" $code | htmlUnescape | safeHTML }}
</code></pre>


{{ else if hasPrefix $code "<code>" }}

{{ $code = strings.TrimPrefix "<code>" $code | strings.TrimSuffix "</code>" }}

{{ $code = htmlUnescape $code }}

{{ $code = replaceRE "<" "&lt;" $code }}
{{ $code = replaceRE "&" "&amp;" $code }}

<code class="language-{{ $language }}">
{{ printf "%s" $code | htmlUnescape | safeHTML }}
</code>

{{ end }}

{{ end }}