{{- /* 

  This shortcode sends its inner text over to the highlight partial.
  
  With positional parameters:

    Required parameters:
      A single positional parameter specifying the language or
      no parameters and a code fence that specifies the language. 

  With named parameters:
  
    Required parameters:
      language: The language of the code to highlight, unless the
                inner text includes a code fence specifying the
                language.

    Optional parameters:
      Any other named parameters to pass through to the partial.
    
  */ -}}


  
{{- /* Grab the specified language. */ -}}
{{- $Language := cond .IsNamedParams (.Get "language") (.Get 0) -}}

{{- /* Ensure there is text to highlight. */ -}}
{{- if .Inner -}}

  {{- /* Grab the text with whitespace trimmed. */ -}}
  {{- $Code := .Inner | chomp | strings.TrimLeft "\n\r" -}}

  {{- /* Check for a code fence. */ -}}
  {{- if (hasPrefix (strings.TrimLeft "\t " $Code) "```") -}}
  
    {{- /* Trim up to the fence. */ -}}
    {{- $Code = $Code | strings.TrimLeft "\t " -}}
  
    {{- /* Check for language declaration. */ -}}
    {{- with findRE "^```([-a-z0-9]+)" $Code -}}
      {{- $Language = (index . 0) | strings.TrimPrefix "```" -}}
      {{- $Code = strings.TrimPrefix (index . 0) $Code | strings.TrimSuffix "```" | chomp -}}

    {{- /* Otherwise, just grab the code. */ -}}
    {{- else -}}
      {{- $Code = strings.TrimPrefix "```" $Code 
                | strings.TrimLeft "\n"
                | strings.TrimSuffix "```" | chomp -}}
    
    {{- end -}} {{- /* with findRE "^```([-a-z0-9]+)" $Code */ -}}
    
  {{- /* Otherwise, check for indentation. */ -}}
  {{- else -}}
  
    {{- /* Split into lines. */ -}}
    {{- $lines := split $Code "\n" -}}
        
    {{- /* Determine the most likely indent. */ -}}
    {{- $indent := cond (hasPrefix (index $lines 0) "\t") "\t" "    " -}}
    
    {{- /* Build a slice of lines without the indentation. */ -}}
    {{- $unindented := slice -}}    
    {{- range $line := $lines -}}    
      {{- if hasPrefix $line $indent -}}      
        {{- $unindented = $unindented | append (strings.TrimPrefix $indent $line) -}}      
      {{- end -}}      
    {{- end -}}
    
    {{- /* Check that each line was indented. */ -}}
    {{- if (eq (len $lines) (len $unindented)) -}}      
      {{- $Code = delimit $unindented "\n" -}}    
    {{- end -}}
          
  {{- end -}} {{- /* if (hasPrefix (strings.TrimLeft "\t " $Code) "```") */ -}}
  
  {{- /* Ensure the code and language have been resolved. */ -}}
  {{- if (and $Language $Code) -}}
    
    {{- /* Create the parameter map. */ -}}
    {{- $Parameters := dict 
      "Page" .Page 
      "Language" $Language 
      "Code" $Code 
      -}}
    
    {{- /* Merge the parameter map with any named parameters. */ -}}
    {{- if .IsNamedParams -}}
      {{- range $key, $value := $.Params -}}        
        {{- $key = $key | humanize | title | replaceRE " " "" -}}
        {{- $Parameters = merge (dict $key $value) $Parameters -}}
      {{- end -}}
    {{- end -}} {{- /* if .IsNamedParams */ -}}
      
    {{- /* Invoke the partial with the parameter map. */ -}}
    {{ partial "plugin-prism/highlight.html" $Parameters }}
      
  {{ end }} {{- /* if (and $Language $Code) */ -}}
  
{{- end -}} {{- /* if .Inner */ -}}